<div class="container">
  <app-management-nav></app-management-nav>

  <div class="row">
    <div class="form-group form-inline text-center">
      <input type="text" class="form-control ml-2" type="text" placeholder="category" >
      <div class="input-group-append md-3">
        <button type="submit" class="btn btn-secondary">Search</button>
      </div>
     </div>
  </div>
  
            
  <table class="table table-striped">
    <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Category Id</th>
    <th scope="col">Category name</th>
    <th scope="col">details</th> 
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category  of categoryList;index as i">
    <th scope="row">{{ i + 1 }}</th> 
    <td><ngb-highlight [result]="category.id"  ></ngb-highlight></td>
    <td><ngb-highlight [result]="category.name"  ></ngb-highlight></td> 
    <td><ngb-highlight [result]="category.detail"  ></ngb-highlight></td> 
   <td><button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteCatogory()">Delete category</button></td>   
  </tr>
  </tbody>
</table> 

<div class="row">
  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addCatogory()">Add category </button>
</div>

</div>