 
<div class ="container">
   
    <!-- <div class="form-group form-inline text-center">
      <input type="text" class="form-control ml-2" type="text" placeholder="phone" >
      <div class="input-group-append md-3">
        <button type="submit" class="btn btn-secondary">Search</button>
      </div>
    </div>   -->

  <div class ="form-group form-inline text-center mt-3" > 
    <nav>
      <a class="p-2 text-blue" routerLink="/itemlist">Buy Item</a>
    </nav>
    <nav>
      <a class="p-2 text-blue" routerLink="/history">Purchase History</a>  
    </nav>
    <nav>
       <a class="p-2 text-blue" routerLink="/discount">View Discount</a>
    </nav>
    <nav>
       <a class="p-2 text-blue" routerLink="/cart">My Cart</a> 
    </nav>
  </div>
</div>


 


  