 
<div class ="container"> 
<!-- seller -->
<div class ="form-group form-inline text-center mt-3" > 
  <nav>
    <a class="p-2 text-blue" routerLink="/additem">Add Item</a>
  </nav> 
  <!-- admin -->
  <nav>
    <a class="p-2 text-blue" routerLink="/blockitem">Block Item</a>
  </nav>
  <nav>
    <a class="p-2 text-blue" routerLink="/blockuser">Block user</a>
  </nav>
  <nav>
    <a class="p-2 text-blue" routerLink="/category">Add/Remove category</a>  
  </nav>
  <nav>
     <a class="p-2 text-blue" routerLink="/showdiscount">Edit Discount</a>
  </nav>
</div>
</div>
